elm-stuff
dist
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
.DS_Store
*~
travis.log

# cabal v2-build ("Nix-style Local Builds")
# https://cabal.readthedocs.io/en/3.4/nix-local-build.html
dist-newstyle/
